@model jcconsultingti.winerie.model.Usuario

@{
    //Titulos em geral
    ViewBag.Desenvolvedor = "JC Consulting TI";
    ViewBag.Sistema = "Portal Winerie";

    //Nomes de botões
    ViewBag.Login = "Log in";
    ViewBag.EsqueceuSenha = "Esqueceu sua senha?";

    //Sem layout padrão
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Titulo :: @ViewBag.Sistema - @ViewBag.Versao</title>
    <!-- Bootstrap -->
    <link href="~/Scripts/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Scripts/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="https://colorlib.com/polygon/gentelella/css/animate.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/Content/css/custom.css" rel="stylesheet">
</head>
<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    @using (Html.BeginForm("AutenticarUsuario", "Login",
                new { ReturnUrl = ViewBag.ReturnUrl },
                FormMethod.Post, new { @class = "form-horizontal form-label-left", novalidate = "true" }))
                    {
                        @Html.AntiForgeryToken()

                        <h1>.</h1>
                        <div style="margin-top: 10px;margin-bottom: 10px;">
                            @Html.EditorFor(model => model.login, new { htmlAttributes = new { @class = "form-control col-md-7 col-xs-12", @required = "true", @placeholder = "Login" } })
                        </div>
                        <div>
                            <input type="password" name="senha" class="form-control col-md-7 col-xs-12" placeholder="Senha" required="true" />
                        </div>
                        <div>
                            <button type="submit" class="btn btn-success btn-block">@ViewBag.Login</button>
                            <label class="text-danger">@ViewBag.MensagemErro</label>
                        </div>
                        <div>
                            <!-- desenvolver uma pagina esqueceu senha e linkar aqui neste ponto do codigo -->
                            @*<input type="button" value="@ViewBag.EsqueceuSenha" onclick="location.href='@Url.Action("EsqueceuSenha", "Login")'" class="btn btn-link" />*@
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            <!-- <p class="change_link">Voce e novo aqui ?
                              <a href="#signup" class="to_register"> Crie sua conta </a>
                            </p> -->
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                &copy; @DateTime.Now.Year - Todos os direitos reservados. <br />
                                <a href="http://www.jcconsultingti.com.br" target="_blank">@ViewBag.Desenvolvedor</a>
                            </div>
                        </div>
                    }
                </section>
            </div>
            @*<div id="register" class="animate form registration_form">
                    <section class="login_content">
                        <form>
                            <h1>Create Account</h1>
                            <div>
                                <input type="text" class="form-control" placeholder="Username" required="" />
                            </div>
                            <div>
                                <input type="email" class="form-control" placeholder="Email" required="" />
                            </div>
                            <div>
                                <input type="password" class="form-control" placeholder="Password" required="" />
                            </div>
                            <div>
                                <a class="btn btn-default submit" href="index.html">Submit</a>
                            </div>
                            <div class="clearfix"></div>
                            <div class="separator">
                                <p class="change_link">
                                    Already a member ?
                                    <a href="#signin" class="to_register"> Log in </a>
                                </p>
                                <div class="clearfix"></div>
                                <br />
                                <div>
                                    <h1><i class="fa fa-paw"></i> Gentelella Alela!</h1>
                                    <p>©2016 All Rights Reserved. Gentelella Alela! is a Bootstrap 3 template. Privacy and Terms</p>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>*@
        </div>
    </div>
</body>
</html>

