@model IEnumerable<jcconsultingti.winerie.model.Usuario>

@{
    ViewBag.Titulo = "Usuario";
    ViewBag.TituloPagina = "Usuários Cadastrados";
    ViewBag.AcaoTabela = "Ações";

    //Nomes de botões
    ViewBag.Novo = "Novo Usuario";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <input type="button" value="@ViewBag.Novo" onclick="location.href='@Url.Action("Cadastrar", "Usuario")'" class="btn btn-primary" />
        <div class="x_panel">
            <div class="x_title">
                <h2>@ViewBag.TituloPagina</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <!-- start accordion -->
                <div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">
                    <div class="panel">
                        <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <table id="datatable-pagination" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>@Html.DisplayNameFor(model => model.id)</th>
                                            <th>@Html.DisplayNameFor(model => model.nome)</th>
                                            <th>@Html.DisplayNameFor(model => model.login)</th>
                                            <th>@Html.DisplayNameFor(model => model.idPerfilUsuario)</th>
                                            <th>@Html.DisplayNameFor(model => model.email)</th>
                                            <th>@Html.DisplayNameFor(model => model.dataUltimoLogin)</th>
                                            <th>@Html.DisplayNameFor(model => model.isAtivo)</th>
                                            <th>@ViewBag.AcaoTabela</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            if (item.idPerfilUsuario.Equals(1))
                                            {
                                                if (User.IsInRole("ADMIN"))
                                                {
                                                    <tr>
                                                        <th scope="row">@Html.DisplayFor(modelItem => item.id)</th>
                                                        <td>@Html.DisplayFor(modelItem => item.nome)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.login)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.perfilUsuario.nomePerfil)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.email)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.dataUltimoLogin)</td>
                                                        <td>@Html.DisplayFor(modelItem => item.isAtivo)</td>
                                                        <td>
                                                            <a href="@Url.Action("Editar", "Usuario", new { id = item.id })" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i></a>
                                                            <a href="@Url.Action("Detalhe", "Usuario", new { id = item.id })" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i></a>
                                                            <a href="@Url.Action("Excluir", "Usuario", new { id = item.id })" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <th scope="row">@Html.DisplayFor(modelItem => item.id)</th>
                                                    <td>@Html.DisplayFor(modelItem => item.nome)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.login)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.perfilUsuario.nomePerfil)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.email)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.dataUltimoLogin)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.isAtivo)</td>
                                                    <td>
                                                        <a href="@Url.Action("Editar", "Usuario", new { id = item.id })" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i></a>
                                                        <a href="@Url.Action("Detalhe", "Usuario", new { id = item.id })" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i></a>
                                                        <a href="@Url.Action("Excluir", "Usuario", new { id = item.id })" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                    @*<tfoot>
                                            <tr>
                                                <th>@Html.DisplayNameFor(model => model.id)</th>
                                                <th>@Html.DisplayNameFor(model => model.nome)</th>
                                                <th>@Html.DisplayNameFor(model => model.login)</th>
                                                <th>@Html.DisplayNameFor(model => model.idPerfilUsuario)</th>
                                                <th>@Html.DisplayNameFor(model => model.email)</th>
                                                <th>@Html.DisplayNameFor(model => model.dataUltimoLogin)</th>
                                                <th>@Html.DisplayNameFor(model => model.isAtivo)</th>
                                                <th>@ViewBag.AcaoTabela</th>
                                            </tr>
                                        </tfoot>*@
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of accordion -->
            </div>
        </div>
    </div>
</div>
